{% extends 'layout.html' %}

{% block page_title %}Войти в систему{% endblock %}
{% block main_css %}{% endblock %}
{% block css %}{{ stylesheet_tag('signin_css') | safe }}{% endblock %}

{% block body_class %}text-center{% endblock %}
{% block header %}{% endblock %}

{% block body %}
    <form id="registerForm" class="form-signin" method="POST" action="{{ url_for('authorization.registration') }}"
          role="form">
        <a href="{{ url_for('index.index') }}" class="my-0 mr-md-auto font-weight-normal text-brown"></a>
        <svg class="mr-2 mb-4" xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
            <circle cx="12" cy="13" r="4"></circle>
        </svg>
        <h1 class="mb-3 font-weight-normal">Войти в систему</h1>

        {{ form.hidden_tag() }}

        {{ form.name.label(class_="sr-only") }}
        {{ form.name(placeholder="Имя", class_="form-control") }}

        {{ form.email.label(class_="sr-only") }}
        {{ form.email(placeholder="Email", class_="form-control") }}

        {{ form.password.label(class_="sr-only") }}
        {{ form.password(placeholder="Пароль", class_="form-control") }}

        {{ form.password_confirm.label(class_="sr-only") }}
        {{ form.password_confirm(placeholder="Повторите пароль", class_="form-control") }}

        {{ form.submit(class_="btn btn-lg btn-secondary btn-block") }}

        <footer>
            <div><p>УлГТУ, 2018</p></div>
        </footer>
    </form>
{% endblock %}

{% block js %}{{ javascript_tag('authorization_js') | safe }}{% endblock %}
{% block footer %}{% endblock %}
