{% extends 'layout.html' %}

{% block page_title %}Контакты{% endblock %}
{% block css %}{{ stylesheet_tag('contacts_css') | safe }}{% endblock %}

{% block body %}
    <main>
        <div class="album light-main py-5">
            <div class="container">
                <h1>Свяжитесь с нами!</h1>
                <form id="contactForm" action="{{ url_for('contacts.contacts') }}" method="POST" role="form">
                    {{ form.hidden_tag() }}

                    {{ form.username.label() }}
                    {{ form.username(class_="form-control") }}

                    {{ form.email.label() }}
                    {{ form.email(class_="form-control") }}

                    {{ form.message.label() }}
                    {{ form.message(class_="form-control", rows=5, cols=11) }}
                    <br><button type="submit" class="btn btn-lg btn-secondary">Отправить</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}{{ javascript_tag('contacts_js') | safe }}{% endblock %}
{% block footer_class %}container{% endblock %}
