{% extends 'layout.html' %}

{% block page_title %}Альбом{% endblock %}
{% block css %}{{ stylesheet_tag('album_css') | safe }}{% endblock %}

{% block body %}
    <main>
        <div class="album py-5 bg-light">
            <div class="container">
                <div id="addPhotoRow" class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-lg btn-secondary btn-input"
                                onclick="location.href='{{ url_for("album.add_photocard") }}'">Добавить фотографию
                        </button>
                    </div>
                </div>
                <div id="albumRow" class="row align-items-center">
                    <div class="text-container">
                        <p>Здесь ничего нет. Добавьте первую фотографию в альбом!</p>
                        <button type="button" class="btn btn-lg btn-secondary btn-input"
                                onclick="location.href='{{ url_for("album.add_photocard") }}'">Добавить фотографию
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}{{ javascript_tag('album_js') | safe }}{% endblock %}
{% block footer_class %}container{% endblock %}
