{% extends 'layout.html' %}

{% block page_title %}Изменить фотографию{% endblock %}
{% block css %}{{ stylesheet_tag('editphoto_css') | safe }}{% endblock %}

{% block body %}
    <main>
        <div class="album light-main">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg ">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}

                            {% if form.photo_file %}
                                {{ form.photo_file.label() }}
                                {{ form.photo_file() }}
                            {% endif %}

                            {{ form.description.label() }}
                            {{ form.description(rows=5) }}

                            <br>
                            {{ form.submit(class_="btn btn-lg btn-secondary") }}
                        </form>
                    </div>
                    <div class="col-lg">
                        <div id="previewContainer" class="preview_container">
                            {% if form.photo %}
                                <img id="imgPrev" src="{{ url_for('album.get_photo', uuid=form.photo.id) }}"
                                     alt="Превью" style="width:100%;height:100%; vertical-align: middle">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}{{ javascript_tag('edit_photocard_js') | safe }}{% endblock %}
{% block footer_class %}container{% endblock %}
