<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top mx-auto center-block img-fluid"
             alt="{{ photo.description or '' }}"
             src="{{ url_for('album.get_photo', uuid=photo.id) }}"
             data-holder-rendered="true">
        <div class="card-body">
            <p class="card-text text-truncate">{{ photo.description or '' }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                            onclick="location.href='{{ url_for('album.get_photocard', uuid=photo.id) }}'">Просмотр
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                            onclick="location.href='{{ url_for('album.edit_photocard', uuid=photo.id) }}'">Изменить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
