{% extends 'layout.html' %}

{% block page_title %}Просмотр фотографии{% endblock %}
{% block css %}{{ stylesheet_tag('viewphoto_css') | safe }}{% endblock %}

{% block body %}
    <main>
        <div class="py-5 light-main">
            <img class="view_photo" src="{{ url_for('album.get_photo', uuid=photo.id) }}">
            <div class="card-body">
                <p class="text-white card-text">{{ photo.description or '' }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-secondary"
                                onclick="location.href='{{ url_for("album.edit_photocard", uuid=photo.id) }}'">
                            Изменить
                        </button>
                        <button id="deleteButton" data-id="{{ photo.id }}" type="button" class="btn btn-danger">
                            <i class="fa fa-trash-o fa-lg"></i> Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}{{ javascript_tag('view_photocard_js') | safe }}{% endblock %}
{% block footer_class %}container{% endblock %}
