.light-main {
    background-color: #947B65;
}

body {
    background-color: #947B65;
}

.btn-secondary + .btn-input {
    color: #fff;
    background-color: #B09072;
}

h2 {
    margin-top: 1.25rem;
    text-align: center;
    font-size: 30px;
    color: rgba(255, 255, 255, .7);
}

.text-container {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .27rem;
    background-color: rgba(255, 255, 255, .27);
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.text-container:last-child {
    margin-bottom: 15%;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
