.btn-secondary + .btn-input {
    color: #fff;
    background-color: #B09072;
}

body {
    background-color: #f8f9fa;
}

img {
    height: 120px;
    width: 100%;
    display: block;
}

.text-container {
    margin: 8rem 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.icon-text {
    font-size: 18px;
    padding: 5%;
    text-align: center;
    color: #7a6755;
}

h2 {
    margin-top: 3.25rem;
    text-align: center;
    font-size: 30px;
}

footer p {
    margin-bottom: .25rem;
    color: rgba(255, 255, 255, .5);
}
