.btn-input {
    margin-bottom: 10px;
    color: #fff;
    background-color: #B09072;
}

body {
    background-color: #f8f9fa;
}

.text-container {
    text-align: center;
    margin: 20% auto;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    word-wrap: break-word;
}

p {
    text-align: center;
    font-size: 25px;
}

.row:last-child {
    padding: 10% 10% 0 0;
}

.card-img-top {
    object-fit: cover;
    height: 225px;
    width: 100%;
    display: block;
}
