.light-main {
    background-color: #947B65;
}

body {
    background-color: #947B65;
}

.btn-secondary + .btn-input {
    color: #fff;
    background-color: #B09072;
}

h1 {
    margin-top: 10%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

form {
    width: 450px;
    margin: 50px auto;
    padding: 17px 20px;
    background: rgba(245, 245, 245, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
    form {
        width: 90%;
    }
}

label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

label:first-child {
    margin-top: 0;
}

input[type="text"], textarea {
    resize: none;
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px 5px;
    background: white;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

input[type="text"]:focus{
    box-shadow: 0 0 5px rgba(50, 200, 255, 0.5);
    outline: none;
}

input[type="submit"] {
    display: block;
    margin-top: 1em;
    padding: 5px 15px;
    font-weight: bold;
    color: #333;
    border: none;
    border-radius: 12px;
    background: white linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 1px white;
}

.light-main {
    background-color: #947B65;
}

div .container {
    margin-bottom: 20%;
}

footer {
    margin-top: 10px;
}
