body {
    background-color: #947B65;
}

form {
    width: 100%;
    margin: 20% 10% 0;
    padding: 10% 20px;
}

.col-lg {
    vertical-align: middle;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.col-lg:last-child {
    margin-top: 10%;
}

.preview_container {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
}

label {
    margin-top: 1rem;
    text-align: left;
    font-size: 20px;
    color: rgba(255, 255, 255, .7);
    display: block;
    margin-bottom: 0.5em;
}

label:first-child {
    margin-top: 0;
}

input[type="text"], textarea {
    resize: none;
    width: 70%;
    border: 1px solid #ccc;
    padding: 4px 5px;
    background: white;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

input[type="text"]:focus, textarea {
    box-shadow: 0 0 5px rgba(50, 200, 255, 0.5);
    outline: none;
}

button[type="submit"] {
    margin-top: 1em;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

@media screen and (max-width: 768px) {
    form {
        margin-left: 0;
        margin-top: 10%;
    }

    input[type="text"], textarea {
        width: 90%;
    }

    .col-lg:first-child {
        margin: 0;
        padding: 0;
    }
}
