@media screen and (max-width: 768px) {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: middle;
        flex-wrap: break-word;
        justify-content: space-between;
        margin: 0;
        width: 300px;
        padding: 10px;
    }
}

.navbar {
    background-color: transparent;
    padding: 12px;
    padding-top: 18px;
}

.btn-secondary,
.btn-secondary:focus {
    font-weight: 650;
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}

.btn-secondary:hover {
    background-color: #BDA792;
}

a:hover {
    text-decoration: none;
}

.text-brown {
    color: #BDA792;
}

.text-brown:hover {
    color: white;
}

.text-brown + .active {
    color: white;
}

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.text-container {
    margin-top: 25%;
    margin-left: 10%;
    text-align: left;
}

footer {
    color: rgba(255, 255, 255, .5);
    text-align: center;
}
