@media screen and (max-width: 768px) {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: middle;
        flex-wrap: break-word;
        justify-content: space-between;
        margin: 0;
        width: 300px;
        padding: 10px;
    }
}

.navbar {
    background-color: #7a6755;
    padding: 12px;
    padding-top: 18px;
}

.btn-secondary,
.btn-secondary:focus {
    font-weight: 600;
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}

.btn-secondary:hover {
    background-color: #BDA792;
}

.text-brown {
    color: #BDA792;
}

.text-brown + .active {
    color: white;
}

.text-brown:hover {
    color: white;
}

a:hover {
    text-decoration: none;
}

footer {
    background-color: #7a6755;
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: left;
}

footer p {
    padding-bottom: 2rem;
    margin-bottom: .25rem;
    color: rgba(255, 255, 255, .5);
    text-align: left;
    font-size: 1rem;
}