html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #947B65;
}

h1 {
    font-size: 1.75em;
    color: rgba(255, 255, 255, .75);
}

input {
    margin: 10px 0;
}

#registrationButton {
    margin-top: 10%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    margin-top: 25px;
    font-weight: 400;
    color: #fff;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 5px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn {
    border-color: transparent;
    background-color: #B09072;
}

svg {
    color: #BDA792;
}

svg:hover {
    color: white;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 20px;
    color: rgba(255, 255, 255, .75);
    margin-top: 20%;
}

footer p {
    color: rgba(255, 255, 255, .5);
    margin-top: 35%;
}
