p {
    word-wrap: break-word;
}

body {
    background-color: #947B65;
}

.view_photo {
    margin: auto auto 5%;
    display: block;
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 768px) {
    .view_photo {
        width: 90%;
        height: 90%;
    }
}
