{% extends 'layout.html' %}

{% block page_title %}Преимущества{% endblock %}
{% block css %}{{ stylesheet_tag('advantages_css') | safe }}{% endblock %}


{% block body %}
    <main>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-container">
                            <img src="{{ asset_url_for('img/free.svg') }}" alt="">
                            <h2>Бесплатное хранилище фотографий</h2>
                            <p class="icon-text">Создавайте и настраивайте свой альбом без дополнительной платы. Сервис
                                полностью бесплатный!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-container">
                            <img src="{{ asset_url_for('img/translation.svg') }}" alt="">
                            <h2>Глобальный доступ к альбому</h2>
                            <p class="icon-text">Доступ к данным можно получить в любое время, с любого устройства и в
                                любом месте.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-container">
                            <img src="{{ asset_url_for('img/folder.svg') }}" alt="">
                            <h2>Надежное хранение данных</h2>
                            <p class="icon-text">Фотографии в альбоме видны только вам благодаря быстрой регистрации на
                                сайте, а персональные данные никуда не передаются.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer_class %}container{% endblock %}
