{% extends 'layout.html' %}

{% block page_title %}Как это работает{% endblock %}
{% block css %}{{ stylesheet_tag('about_css') | safe }}{% endblock %}

{% block body %}
    <main>
        <div class="album light-main py-5">
            <div class="container">
                <div class="text-container">
                    <h2>Шаг 1</h2>
                    <p>Перед началом редактирования альбома необходима регистрация (или авторизация) пользователя.</p>
                </div>
                <div class="text-container">
                    <h2>Шаг 2</h2>
                    <p>Перейдите на страницу «Альбом» для доступа к фотографиям.</p>
                </div>
                <div class="text-container">
                    <h2>Шаг 3</h2>
                    <p>Настраивайте свой альбом: вы легко можете добавлять и удалять фотографии, а также редактировать
                        их описание.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer_class %}container{% endblock %}
