{% extends 'layout.html' %}

{% block main_css %}{% endblock %}
{% block css %}{{ stylesheet_tag('index_css') | safe }}{% endblock %}

{% block body_class %}text-center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column{% endblock %}
{% block body_style %}background-image: url({{ asset_url_for('img/cover.jpg') }});height: 100%;
    background-position: center;background-repeat: no-repeat;background-size: cover;{% endblock %}

{% block body %}
    <main>
        <div class="text-container">
            <h1 class="cover-heading">Фотогалерея</h1>
            <p class="lead">Бесплатный сервис для хранения фотографий.</p>
            <p class="lead">
                <a href="{{ url_for('about.about') }}" class="btn btn-lg btn-secondary">Подробнее</a>
            </p>
        </div>
    </main>
{% endblock %}

{% block footer_class %}fixed-bottom{% endblock %}

