<header>
    <div class="navbar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 shadow-sm">
        <a id="mainIcon" class="my-0 mr-md-auto font-weight-normal text-brown">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                <circle cx="12" cy="13" r="4"></circle>
            </svg>
        </a>
        <nav id="nav" class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-brown active" href="{{ url_for('index.index') }}">Главная</a>
            <a class="p-2 text-brown" href="{{ url_for('album.album') }}">Альбом</a>
            <a class="p-2 text-brown" href="{{ url_for('about.about') }}">Как это работает</a>
            <a class="p-2 text-brown" href="{{ url_for('advantages.advantages') }}">Преимущества</a>
            <a class="p-2 text-brown" href="{{ url_for('contacts.contacts') }}">Контакты</a>
            {% if not current_user.is_active %}
                <a class="btn btn-secondary" href="{{ url_for('authorization.sign_in') }}">Войти</a>
            {% else %}
                <a class="btn btn-secondary" href="{{ url_for('authorization.logout') }}">Выйти</a>
            {% endif %}
        </nav>
    </div>
</header>
