<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{% block page_title %}Фотогалерея{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset_url_for('img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset_url_for('img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset_url_for('img/favicon-16x16.png') }}">
    <link rel="mask-icon" href="{{ asset_url_for('img/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#f2af58">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {% block main_css %}{{ stylesheet_tag('main_css') | safe }}{% endblock %}
    {% block css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}" style="{% block body_style %}{% endblock %}">
    {% block header %}{% include "header.html" %}{% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
    <footer class="mt-3">
        <div class="{% block footer_class %}{% endblock %}">
            <p>УлГТУ, 2018</p>
        </div>
    </footer>
    {% endblock %}

    {{ javascript_tag('main_js') | safe }}
    {% block js %}{% endblock %}
</body>

</html>
